In [137]:
import pandas as pd
import numpy as np

In [138]:

communicable_disease = pd.read_csv("communicable_disease.csv")
gdp = pd.read_csv("gdp.csv")
health_expenditure = pd.read_csv("health_expenditure.csv")
hospital_density = pd.read_csv("hospital_density.csv")
injury = pd.read_csv("injury.csv")
life_expectancy = pd.read_csv("life_expectancy.csv")
mortality = pd.read_csv("mortality.csv")
population= pd.read_csv("population.csv")

# Hospital density per 100,000 population

In [139]:
hospital_density

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2000,2000,1265.00,NaN,NaN
1,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2001,2001,1283.00,NaN,NaN
2,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2002,2002,1284.00,NaN,NaN
3,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2003,2003,1286.00,NaN,NaN
4,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2004,2004,1291.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6407,HOSPPUHO,Publicly owned hospitals,NBMILPNB,Per million population,HRV,Croatia,2017,2017,14.29,NaN,NaN
6408,HOSPPUHO,Publicly owned hospitals,NBMILPNB,Per million population,HRV,Croatia,2018,2018,14.42,NaN,NaN
6409,HOSPPUHO,Publicly owned hospitals,NBMILPNB,Per million population,HRV,Croatia,2019,2019,14.51,NaN,NaN
6410,HOSPPUHO,Publicly owned hospitals,NBMILPNB,Per million population,HRV,Croatia,2020,2020,14.58,NaN,NaN
6411,HOSPPUHO,Publicly owned hospitals,NBMILPNB,Per million population,HRV,Croatia,2021,2021,14.94,NaN,NaN

In [140]:
hospital_pmp = hospital_density.loc[(hospital_density["Variable"]=="Hospitals") & (hospital_density["Measure"]=="Per million population")]

In [141]:

hospital_pmp

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
2590,HOSPTHOS,Hospitals,NBMILPNB,Per million population,AUS,Australia,2000,2000,66.48,NaN,NaN
2591,HOSPTHOS,Hospitals,NBMILPNB,Per million population,AUS,Australia,2001,2001,66.56,NaN,NaN
2592,HOSPTHOS,Hospitals,NBMILPNB,Per million population,AUS,Australia,2002,2002,65.86,NaN,NaN
2593,HOSPTHOS,Hospitals,NBMILPNB,Per million population,AUS,Australia,2003,2003,65.21,NaN,NaN
2594,HOSPTHOS,Hospitals,NBMILPNB,Per million population,AUS,Australia,2004,2004,64.77,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6396,HOSPTHOS,Hospitals,NBMILPNB,Per million population,HRV,Croatia,2017,2017,15.98,NaN,NaN
6397,HOSPTHOS,Hospitals,NBMILPNB,Per million population,HRV,Croatia,2018,2018,16.13,NaN,NaN
6398,HOSPTHOS,Hospitals,NBMILPNB,Per million population,HRV,Croatia,2019,2019,16.47,NaN,NaN
6399,HOSPTHOS,Hospitals,NBMILPNB,Per million population,HRV,Croatia,2020,2020,16.80,NaN,NaN
6400,HOSPTHOS,Hospitals,NBMILPNB,Per million population,HRV,Croatia,2021,2021,17.22,NaN,NaN

In [142]:
hospital_pmp.drop(columns = ["VAR","Variable","UNIT","Measure","COU","YEA","Flag Codes","Flags"], axis=1, inplace=True)

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\1889880815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_pmp.drop(columns = ["VAR","Variable","UNIT","Measure","COU","YEA","Flag Codes","Flags"], axis=1, inplace=True)

In [143]:
hospital_pmp["Value"]=hospital_pmp["Value"]/10
hospital_pmp.rename(columns={"Value":"Hospital_density"},inplace=True)
hospital_pmp.dropna(how="all", inplace=True)

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\3366280710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_pmp["Value"]=hospital_pmp["Value"]/10
C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\3366280710.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_pmp.rename(columns={"Value":"Hospital_density"},inplace=True)
C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\3366280710.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_pmp.dropna(how="all", inplace=True)

In [144]:
hospital_pmp.isnull().sum()

Country             0
Year                0
Hospital_density    0
dtype: int64

In [145]:
hospital_pmp.describe(include="all")

       Country         Year  Hospital_density
count      803   803.000000        803.000000
unique      39          NaN               NaN
top     Israel          NaN               NaN
freq        23          NaN               NaN
mean       NaN  2010.894147          3.271716
std        NaN     6.400008          2.715577
min        NaN  2000.000000          0.806000
25%        NaN  2005.000000          1.849500
50%        NaN  2011.000000          2.543000
75%        NaN  2016.000000          3.912000
max        NaN  2022.000000         24.130000

In [146]:
countries_use = hospital_pmp["Country"].unique()
countries_use

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'TÃ¼rkiye',
       'United Kingdom', 'United States', 'Chile', 'Estonia', 'Israel',
       'Slovenia', 'Latvia', 'Lithuania', 'Costa Rica', 'Colombia',
       'Bulgaria', 'Romania', 'Croatia'], dtype=object)

# GDP

In [147]:
gdp

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,2.677654e+09,2.843017e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,2.847590e+11,2.596430e+11,2.665290e+11,3.541770e+11,4.404820e+11,5.139420e+11,5.775870e+11,6.628680e+11,7.105360e+11,...,9.859870e+11,1.006530e+12,9.273480e+11,8.851760e+11,1.021040e+12,1.007200e+12,1.000830e+12,9.275930e+11,1.082000e+12,1.169480e+12
2,Afghanistan,NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,9.715765e+09,1.024977e+10,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,1.409460e+11,1.485300e+11,1.772010e+11,2.052140e+11,2.542650e+11,3.108900e+11,3.969210e+11,4.654860e+11,5.677910e+11,...,8.339480e+11,8.943220e+11,7.686450e+11,6.913630e+11,6.848990e+11,7.670260e+11,8.225380e+11,7.864600e+11,8.444600e+11,8.778630e+11
4,Angola,9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,6.526642e+10,8.853866e+10,...,1.334020e+11,1.372440e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067140e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.181777e+09,...,6.735328e+09,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09
262,"Yemen, Rep.",9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674635e+10,1.906198e+10,2.165053e+10,2.691086e+10,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,1.517530e+11,1.354300e+11,1.290880e+11,1.970190e+11,2.558070e+11,2.888670e+11,3.038590e+11,3.330770e+11,3.161310e+11,...,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.041590e+11,3.885310e+11,3.376200e+11,4.190160e+11,4.058700e+11
264,Zambia,3.600632e+09,4.094441e+09,4.193850e+09,4.901870e+09,6.221110e+09,8.331870e+09,1.275686e+10,1.405696e+10,1.791086e+10,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10
265,Zimbabwe,6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,5.291950e+09,4.415703e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10

### Filter out countries that we have hospital data from the gdp data

In [148]:
gdp['Country Name'] = gdp['Country Name'].replace('Turkiye', 'TÃ¼rkiye')
gdp['Country Name'] = gdp['Country Name'].replace('Czechia', 'Czech Republic')
gdp['Country Name'] = gdp['Country Name'].replace('Korea, Rep.', 'Korea')
gdp_filter = gdp[gdp['Country Name'].isin(hospital_pmp['Country'])]

In [149]:
gdp_filter

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
13,Australia,4.158450e+11,3.793580e+11,3.955730e+11,4.674980e+11,6.143260e+11,6.953050e+11,7.479070e+11,8.544270e+11,1.055690e+12,...,1.576330e+12,1.467590e+12,1.350580e+12,1.206560e+12,1.326470e+12,1.428270e+12,1.392220e+12,1.326940e+12,1.552700e+12,1.675420e+12
14,Austria,1.972900e+11,1.975090e+11,2.143950e+11,2.622740e+11,3.014580e+11,3.160920e+11,3.362800e+11,3.891860e+11,4.320520e+11,...,4.301910e+11,4.425850e+11,3.819710e+11,3.958370e+11,4.172610e+11,4.549910e+11,4.446210e+11,4.352250e+11,4.803680e+11,4.714000e+11
17,Belgium,2.367920e+11,2.367460e+11,2.583840e+11,3.180830e+11,3.692150e+11,3.857150e+11,4.082600e+11,4.709220e+11,5.173280e+11,...,5.217910e+11,5.353900e+11,4.623360e+11,4.760630e+11,5.027650e+11,5.432990e+11,5.358660e+11,5.252130e+11,5.943520e+11,5.786040e+11
21,Bulgaria,1.324599e+10,1.418344e+10,1.640304e+10,2.114496e+10,2.615774e+10,2.986865e+10,3.438054e+10,4.443281e+10,5.448070e+10,...,5.584425e+10,5.715956e+10,5.082809e+10,5.398749e+10,5.934306e+10,6.639960e+10,6.891193e+10,7.040436e+10,8.406140e+10,8.904040e+10
35,Canada,7.447730e+11,7.389630e+11,7.606490e+11,8.955410e+11,1.026690e+12,1.173110e+12,1.319260e+12,1.468820e+12,1.552990e+12,...,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725300e+12,1.743730e+12,1.647600e+12,2.001490e+12,2.139840e+12
37,Switzerland,2.792090e+11,2.865800e+11,3.093000e+11,3.620880e+11,4.039140e+11,4.182930e+11,4.416190e+11,4.907550e+11,5.672730e+11,...,7.062350e+11,7.265380e+11,6.941180e+11,6.878950e+11,6.952010e+11,7.255630e+11,7.213690e+11,7.399140e+11,8.006400e+11,8.077060e+11
39,Chile,7.824988e+10,7.151727e+10,7.029523e+10,7.650785e+10,9.907937e+10,1.223150e+11,1.538400e+11,1.725660e+11,1.796630e+11,...,2.772390e+11,2.594050e+11,2.424970e+11,2.492990e+11,2.763650e+11,2.954030e+11,2.784930e+11,2.540960e+11,3.167140e+11,3.010250e+11
45,Colombia,9.987507e+10,9.820064e+10,9.794581e+10,9.464497e+10,1.170920e+11,1.456010e+11,1.617930e+11,2.062300e+11,2.425040e+11,...,3.820940e+11,3.812410e+11,2.934920e+11,2.827200e+11,3.118670e+11,3.341980e+11,3.230320e+11,2.701510e+11,3.185120e+11,3.439390e+11
48,Costa Rica,1.501363e+10,1.597617e+10,1.657882e+10,1.727176e+10,1.861059e+10,2.004064e+10,2.271554e+10,2.688470e+10,3.080174e+10,...,5.094967e+10,5.201641e+10,5.644192e+10,5.884702e+10,6.051604e+10,6.242016e+10,6.441767e+10,6.239561e+10,6.461648e+10,6.838084e+10
54,Czech Republic,6.182349e+10,6.780870e+10,8.219621e+10,1.000900e+11,1.198150e+11,1.371430e+11,1.562640e+11,1.901840e+11,2.368170e+11,...,2.116860e+11,2.093590e+11,1.880330e+11,1.962720e+11,2.186290e+11,2.490010e+11,2.525480e+11,2.459750e+11,2.817910e+11,2.909240e+11
55,Germany,1.947980e+12,1.945790e+12,2.078480e+12,2.501640e+12,2.814350e+12,2.846860e+12,2.994700e+12,3.425580e+12,3.745260e+12,...,3.733800e+12,3.889090e+12,3.357590e+12,3.469850e+12,3.690850e+12,3.974440e+12,3.888230e+12,3.889670e+12,4.259930e+12,4.072190e+12
70,Spain,5.983630e+11,6.278300e+11,7.087570e+11,9.074920e+11,1.069060e+12,1.153720e+12,1.260400e+12,1.474000e+12,1.631860e+12,...,1.355580e+12,1.371820e+12,1.196160e+12,1.233550e+12,1.313250e+12,1.421700e+12,1.394320e+12,1.276960e+12,1.427380e+12,1.397510e+12
71,Estonia,5.686580e+09,6.254650e+09,7.367976e+09,9.874013e+09,1.214591e+10,1.410679e+10,1.702287e+10,2.244913e+10,2.434168e+10,...,2.511575e+10,2.663408e+10,2.289076e+10,2.407283e+10,2.692439e+10,3.062472e+10,3.108190e+10,3.137040e+10,3.719117e+10,3.810081e+10
75,Finland,1.260200e+11,1.295330e+11,1.404040e+11,1.716520e+11,1.974790e+11,2.048850e+11,2.170890e+11,2.563780e+11,2.857160e+11,...,2.713620e+11,2.748630e+11,2.345340e+11,2.407710e+11,2.556480e+11,2.757080e+11,2.685150e+11,2.718860e+11,2.963880e+11,2.808260e+11
77,France,1.365640e+12,1.377660e+12,1.501410e+12,1.844540e+12,2.119630e+12,2.196950e+12,2.320540e+12,2.660590e+12,2.930300e+12,...,2.811880e+12,2.855960e+12,2.439190e+12,2.472960e+12,2.595150e+12,2.790960e+12,2.728870e+12,2.639010e+12,2.957880e+12,2.782910e+12
81,United Kingdom,1.666050e+12,1.648770e+12,1.785780e+12,2.056700e+12,2.423050e+12,2.544810e+12,2.709980e+12,3.093000e+12,2.931680e+12,...,2.786320e+12,3.065220e+12,2.934860e+12,2.699660e+12,2.683490e+12,2.878150e+12,2.857060e+12,2.704610e+12,3.122480e+12,3.070670e+12
89,Greece,1.304580e+11,1.363090e+11,1.545640e+11,2.023700e+11,2.409640e+11,2.478750e+11,2.735470e+11,3.189030e+11,3.559090e+11,...,2.389080e+11,2.354580e+11,1.956840e+11,1.931480e+11,1.998440e+11,2.120490e+11,2.052570e+11,1.889260e+11,2.148740e+11,2.190660e+11
99,Croatia,2.212872e+10,2.306332e+10,2.675726e+10,3.525483e+10,4.185527e+10,4.502533e+10,4.953259e+10,5.917290e+10,6.834206e+10,...,5.936312e+10,5.921446e+10,5.074209e+10,5.239104e+10,5.593748e+10,6.133048e+10,6.132927e+10,5.762494e+10,6.884367e+10,7.096461e+10
101,Hungary,4.721841e+10,5.374999e+10,6.760892e+10,8.528508e+10,1.041210e+11,1.132110e+11,1.157160e+11,1.401870e+11,1.583260e+11,...,1.356840e+11,1.410340e+11,1.251740e+11,1.286100e+11,1.431120e+11,1.605660e+11,1.640200e+11,1.572270e+11,1.822750e+11,1.787890e+11
111,Ireland,1.002080e+11,1.093470e+11,1.285960e+11,1.646710e+11,1.943720e+11,2.118770e+11,2.321810e+11,2.700790e+11,2.754470e+11,...,2.383410e+11,2.591710e+11,2.917750e+11,2.990910e+11,3.363780e+11,3.857370e+11,3.993220e+11,4.258520e+11,5.041830e+11,5.292450e+11
114,Iceland,9.025660e+09,8.234847e+09,9.318398e+09,1.142934e+10,1.382531e+10,1.685297e+10,1.746532e+10,2.165251e+10,1.807462e+10,...,1.612506e+10,1.786766e+10,1.751721e+10,2.079317e+10,2.472829e+10,2.626085e+10,2.466364e+10,2.155308e+10,2.555264e+10,2.784165e+10
115,Israel,1.360350e+11,1.346370e+11,1.250600e+11,1.312990e+11,1.399740e+11,1.470840e+11,1.586700e+11,1.840530e+11,2.205300e+11,...,2.977330e+11,3.143300e+11,3.034140e+11,3.221030e+11,3.582450e+11,3.766920e+11,4.024710e+11,4.132680e+11,4.885270e+11,5.220330e+11
116,Italy,1.146680e+12,1.168020e+12,1.276770e+12,1.577620e+12,1.806540e+12,1.858220e+12,1.949550e+12,2.213100e+12,2.408660e+12,...,2.141920e+12,2.162010e+12,1.836640e+12,1.877070e+12,1.961800e+12,2.091930e+12,2.011300e+12,1.897210e+12,2.114360e+12,2.010430e+12
119,Japan,4.968360e+12,4.374710e+12,4.182850e+12,4.519560e+12,4.893120e+12,4.831470e+12,4.601660e+12,4.579750e+12,5.106680e+12,...,5.212330e+12,4.896990e+12,4.444930e+12,5.003680e+12,4.930840e+12,5.040880e+12,5.117990e+12,5.048790e+12,5.005540e+12,4.231140e+12
126,Korea,5.761780e+11,5.476580e+11,6.272460e+11,7.027170e+11,7.931750e+11,9.349010e+11,1.053220e+12,1.172610e+12,1.047340e+12,...,1.370800e+12,1.484320e+12,1.465770e+12,1.500110e+12,1.623900e+12,1.724850e+12,1.651420e+12,1.644310e+12,1.810960e+12,1.665250e+12
143,Lithuania,1.152478e+10,1.223739e+10,1.425978e+10,1.878172e+10,2.262751e+10,2.609768e+10,3.018358e+10,3.969789e+10,4.779755e+10,...,4.652342e+10,4.853366e+10,4.143553e+10,4.304731e+10,4.775874e+10,5.375141e+10,5.476062e+10,5.691483e+10,6.641499e+10,7.033430e+10
144,Luxembourg,2.123018e+10,2.138753e+10,2.364983e+10,2.966727e+10,3.506484e+10,3.767228e+10,4.291015e+10,5.158740e+10,5.884428e+10,...,6.520328e+10,6.880481e+10,6.007158e+10,6.221689e+10,6.571218e+10,7.100036e+10,6.982564e+10,7.399259e+10,8.550624e+10,8.227481e+10
145,Latvia,7.958853e+09,8.362399e+09,9.557032e+09,1.177198e+10,1.443570e+10,1.700346e+10,2.157008e+10,3.105435e+10,3.585427e+10,...,3.020478e+10,3.138690e+10,2.726309e+10,2.808360e+10,3.048381e+10,3.442902e+10,3.434396e+10,3.460174e+10,3.972538e+10,4.115391e+10
154,Mexico,7.079100e+11,7.567030e+11,7.721100e+11,7.293350e+11,7.822430e+11,8.774770e+11,9.753830e+11,1.052700e+12,1.109990e+12,...,1.274440e+12,1.315360e+12,1.171870e+12,1.078490e+12,1.158910e+12,1.222410e+12,1.269010e+12,1.090510e+12,1.272840e+12,1.414190e+12
176,Netherlands,4.174790e+11,4.315870e+11,4.738620e+11,5.800700e+11,6.583800e+11,6.853480e+11,7.339550e+11,8.485590e+11,9.518700e+11,...,8.771730e+11,8.921680e+11,7.655730e+11,7.840600e+11,8.338700e+11,9.140430e+11,9.101940e+11,9.097930e+11,1.011800e+12,9.911150e+11
180,New Zealand,5.262295e+10,5.387246e+10,6.662773e+10,8.825089e+10,1.039060e+11,1.147200e+11,1.115390e+11,1.371890e+11,1.331310e+11,...,1.909070e+11,2.013130e+11,1.780640e+11,1.888380e+11,2.065560e+11,2.118870e+11,2.130920e+11,2.125700e+11,2.555520e+11,2.472340e+11
190,Poland,1.722200e+11,1.909050e+11,1.990700e+11,2.178290e+11,2.551070e+11,3.061460e+11,3.446270e+11,4.290210e+11,5.336000e+11,...,5.157620e+11,5.390810e+11,4.771110e+11,4.700250e+11,5.246410e+11,5.887800e+11,5.960580e+11,5.994430e+11,6.794420e+11,6.881770e+11
194,Portugal,1.186050e+11,1.216040e+11,1.347960e+11,1.652260e+11,1.893820e+11,1.972540e+11,2.087560e+11,2.404960e+11,2.634160e+11,...,2.264340e+11,2.299020e+11,1.993940e+11,2.064260e+11,2.213580e+11,2.423130e+11,2.399870e+11,2.290320e+11,2.539830e+11,2.519450e+11
201,Romania,3.725374e+10,4.039511e+10,4.606550e+10,5.780638e+10,7.497366e+10,9.845437e+10,1.220240e+11,1.745890e+11,2.143170e+11,...,1.897890e+11,1.997140e+11,1.778840e+11,1.852880e+11,2.101470e+11,2.433160e+11,2.510180e+11,2.513630e+11,2.854050e+11,3.012620e+11
221,Slovak Republic,2.924256e+10,3.077878e+10,3.529779e+10,4.691997e+10,5.743744e+10,6.280872e+10,7.076734e+10,8.656399e+10,1.008800e+11,...,9.893522e+10,1.014370e+11,8.890088e+10,8.995270e+10,9.564997e+10,1.061380e+11,1.057100e+11,1.067290e+11,1.186570e+11,1.154690e+11
222,Slovenia,2.028963e+10,2.087631e+10,2.348989e+10,2.963471e+10,3.441478e+10,3.620640e+10,3.948105e+10,4.806740e+10,5.577943e+10,...,4.841566e+10,4.999719e+10,4.310751e+10,4.476672e+10,4.858910e+10,5.417788e+10,5.433159e+10,5.370680e+10,6.174859e+10,6.211777e+10
223,Sweden,2.628340e+11,2.423950e+11,2.668480e+11,3.343370e+11,3.851190e+11,3.922190e+11,4.230910e+11,4.912550e+11,5.177060e+11,...,5.868420e+11,5.819640e+11,5.051040e+11,5.156550e+11,5.410190e+11,5.554550e+11,5.338800e+11,5.470540e+11,6.368560e+11,5.859390e+11
244,TÃ¼rkiye,2.742950e+11,2.017530e+11,2.402490e+11,3.145960e+11,4.088650e+11,5.063150e+11,5.570760e+11,6.813210e+11,7.704490e+11,...,9.577990e+11,9.389340e+11,8.643140e+11,8.696830e+11,8.589890e+11,7.784770e+11,7.599350e+11,7.202890e+11,8.190340e+11,9.059880e+11
251,United States,1.025090e+13,1.058190e+13,1.092910e+13,1.145640e+13,1.221720e+13,1.303920e+13,1.381560e+13,1.447420e+13,1.476990e+13,...,1.684320e+13,1.755070e+13,1.820600e+13,1.869510e+13,1.947730e+13,2.053310e+13,2.138100e+13,2.106050e+13,2.331510e+13,2.546270e+13

### Melt the gdp dataset

In [150]:
gdp_filter.rename(columns={"Country Name":"Country"}, inplace=True)
gdp_filter = gdp_filter.melt(id_vars=['Country'], var_name='Year', value_name='gdp')

gdp_filter=gdp_filter.sort_values(by=['Country'])

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\2203550859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_filter.rename(columns={"Country Name":"Country"}, inplace=True)

In [151]:
gdp_filter

           Country  Year           gdp
0        Australia  2000  4.158450e+11
858      Australia  2022  1.675420e+12
312      Australia  2008  1.055690e+12
546      Australia  2014  1.467590e+12
507      Australia  2013  1.576330e+12
..             ...   ...           ...
584  United States  2014  1.755070e+13
272  United States  2006  1.381560e+13
545  United States  2013  1.684320e+13
506  United States  2012  1.625400e+13
896  United States  2022  2.546270e+13

[897 rows x 3 columns]

# Communicable Disease

In [152]:
communicable_disease

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2000,2000,1.4,NaN,NaN
1,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2001,2001,1.1,NaN,NaN
2,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2002,2002,1.3,NaN,NaN
3,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2003,2003,1.2,NaN,NaN
4,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2004,2004,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3973,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NOMBRENB,Number,HRV,Croatia,2017,2017,20.0,NaN,NaN
3974,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NOMBRENB,Number,HRV,Croatia,2018,2018,30.0,NaN,NaN
3975,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NOMBRENB,Number,HRV,Croatia,2019,2019,20.0,NaN,NaN
3976,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NOMBRENB,Number,HRV,Croatia,2020,2020,12.0,NaN,NaN
3977,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NOMBRENB,Number,HRV,Croatia,2021,2021,23.0,NaN,NaN

### Extract only Incidence per 100 000 population rows

In [153]:
communicable_disease=communicable_disease[communicable_disease["Measure"]=="Incidence per 100 000 population"]
communicable_disease

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2000,2000,1.4,NaN,NaN
1,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2001,2001,1.1,NaN,NaN
2,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2002,2002,1.3,NaN,NaN
3,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2003,2003,1.2,NaN,NaN
4,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,AUS,Australia,2004,2004,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3943,COMDAIDS,Acquired immunodeficiency syndrome (AIDS),NEWCASTX,Incidence per 100 000 population,ROU,Romania,2021,2021,1.0,NaN,NaN
3959,COMDIHPB,Incidence of hepatitis B,PERCMTTX,Incidence per 100 000 population,HRV,Croatia,2018,2018,0.2,NaN,NaN
3960,COMDIHPB,Incidence of hepatitis B,PERCMTTX,Incidence per 100 000 population,HRV,Croatia,2019,2019,0.4,NaN,NaN
3961,COMDIHPB,Incidence of hepatitis B,PERCMTTX,Incidence per 100 000 population,HRV,Croatia,2020,2020,0.0,NaN,NaN
3962,COMDIHPB,Incidence of hepatitis B,PERCMTTX,Incidence per 100 000 population,HRV,Croatia,2021,2021,0.0,NaN,NaN

### There are different communicable disease like AIDS and Hapetitis B and measles. Add all for each country for each year

In [154]:
communicable_diseas = communicable_disease.groupby(["Country","Year"])["Value"].sum().reset_index()
#Rename Value to communicable_disease
communicable_diseas.rename(columns={"Value":"Communicable_disease"}, inplace=True)
communicable_diseas.tail(50)

            Country  Year  Communicable_disease
886         TÃ¼rkiye  2015                   3.5
887         TÃ¼rkiye  2016                   1.9
888         TÃ¼rkiye  2017                   2.2
889         TÃ¼rkiye  2018                   3.0
890         TÃ¼rkiye  2019                   5.1
891         TÃ¼rkiye  2020                   1.7
892         TÃ¼rkiye  2021                   1.0
893  United Kingdom  2000                   2.1
894  United Kingdom  2001                   1.9
895  United Kingdom  2002                   2.8
896  United Kingdom  2003                   3.0
897  United Kingdom  2004                   2.6
898  United Kingdom  2005                   2.5
899  United Kingdom  2006                   4.5
900  United Kingdom  2007                   5.4
901  United Kingdom  2008                   6.0
902  United Kingdom  2009                   5.0
903  United Kingdom  2010                   3.2
904  United Kingdom  2011                   5.5
905  United Kingdom  2012                  23.7
906  United Kingdom  2013                  13.7
907  United Kingdom  2014                   7.7
908  United Kingdom  2015                   9.8
909  United Kingdom  2016                  13.3
910  United Kingdom  2017                   8.4
911  United Kingdom  2018                   8.0
912  United Kingdom  2019                   8.8
913  United Kingdom  2020                   3.9
914  United Kingdom  2021                   0.5
915   United States  2000                  20.0
916   United States  2001                  19.0
917   United States  2002                  19.7
918   United States  2003                  20.1
919   United States  2004                  23.9
920   United States  2005                  22.6
921   United States  2006                  18.3
922   United States  2007                  16.0
923   United States  2008                  16.5
924   United States  2009                  16.8
925   United States  2010                  19.1
926   United States  2011                  15.4
927   United States  2012                  24.3
928   United States  2013                  17.7
929   United States  2014                  17.5
930   United States  2015                  14.6
931   United States  2016                  13.4
932   United States  2017                  13.4
933   United States  2018                  12.1
934   United States  2019                  13.2
935   United States  2020                   5.1

In [155]:
communicable_diseas= communicable_diseas[communicable_diseas['Country'].isin(hospital_pmp['Country'])]

In [156]:
communicable_diseas.describe(include="all")

          Country         Year  Communicable_disease
count         868   868.000000            868.000000
unique         39          NaN                   NaN
top     Australia          NaN                   NaN
freq           23          NaN                   NaN
mean          NaN  2011.144009             14.317972
std           NaN     6.506407             22.846987
min           NaN  2000.000000              0.000000
25%           NaN  2006.000000              2.300000
50%           NaN  2011.000000              7.500000
75%           NaN  2017.000000             16.000000
max           NaN  2022.000000            297.600000

# Health Expenditure

In [157]:
health_expenditure

,HF,Financing scheme,HC,Function,HP,Provider,MEASURE,Measure,LOCATION,Country,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2000,PC,Percentage,0,Units,NaN,NaN,7.594,D,Difference in methodology
1,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2001,PC,Percentage,0,Units,NaN,NaN,7.678,D,Difference in methodology
2,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2002,PC,Percentage,0,Units,NaN,NaN,7.876,D,Difference in methodology
3,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2003,PC,Percentage,0,Units,NaN,NaN,7.881,D,Difference in methodology
4,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2004,PC,Percentage,0,Units,NaN,NaN,8.087,D,Difference in methodology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429115,HF3,Household out-of-pocket payments,HC7,Governance and health system and financing adm...,HPTOT,All providers,VALREL,"Constant prices, OECD base year",MLT,Malta,...,2015,EUR,Euro,6,Millions,2015.0,2015.0,2.874,NaN,NaN
429116,HF3,Household out-of-pocket payments,HC7,Governance and health system and financing adm...,HPTOT,All providers,UNPPER,"Per capita, current prices",MLT,Malta,...,2014,EUR,Euro,0,Units,NaN,NaN,4.545,B,Break
429117,HF3,Household out-of-pocket payments,HC7,Governance and health system and financing adm...,HPTOT,All providers,UNPPER,"Per capita, current prices",MLT,Malta,...,2015,EUR,Euro,0,Units,NaN,NaN,6.458,NaN,NaN
429118,HF3,Household out-of-pocket payments,HC7,Governance and health system and financing adm...,HPTOT,All providers,PPPPER,"Per capita, current prices, current PPPs",MLT,Malta,...,2014,USD,US Dollar,0,Units,NaN,NaN,7.404,B,Break
429119,HF3,Household out-of-pocket payments,HC7,Governance and health system and financing adm...,HPTOT,All providers,PPPPER,"Per capita, current prices, current PPPs",MLT,Malta,...,2015,USD,US Dollar,0,Units,NaN,NaN,10.390,NaN,NaN

In [158]:
health_expenditure.describe(include="all")

,HF,Financing scheme,HC,Function,HP,Provider,MEASURE,Measure,LOCATION,Country,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
count,429120,429120,429120,429120,429120,429120,429120,429120,429120,429120,...,429120.000000,429120,429120,429120.000000,429120,72088.0,72088.0,4.291200e+05,34153,34153
unique,5,5,8,8,11,11,6,6,50,50,...,NaN,33,33,NaN,2,NaN,NaN,NaN,8,8
top,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,MLLNCU,Current prices,LUX,Luxembourg,...,NaN,PC,Percentage,NaN,Units,NaN,NaN,NaN,B,Break
freq,170729,170729,195195,195195,173836,173836,72286,72286,15573,15573,...,NaN,141026,141026,NaN,284746,NaN,NaN,NaN,20396,20396
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011.813108,NaN,NaN,2.018652,NaN,2015.0,2015.0,1.981355e+05,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.043260,NaN,NaN,2.834956,NaN,0.0,0.0,3.974299e+06,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.000000,NaN,NaN,0.000000,NaN,2015.0,2015.0,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2007.000000,NaN,NaN,0.000000,NaN,2015.0,2015.0,1.458000e+00,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012.000000,NaN,NaN,0.000000,NaN,2015.0,2015.0,3.413350e+01,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2017.000000,NaN,NaN,6.000000,NaN,2015.0,2015.0,6.840958e+02,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022.000000,NaN,NaN,6.000000,NaN,2015.0,2015.0,5.271049e+08,NaN,NaN

In [159]:
health_expenditure["Function"].unique()

array(['Current expenditure on health (all functions)',
       'Inpatient curative and rehabilitative care',
       'Outpatient curative and rehabilitative care',
       'Long-term care (health)',
       'Ancillary services (non-specified by function)',
       'Medical goods (non-specified by function)', 'Preventive care',
       'Governance and health system and financing administration'],
      dtype=object)

In [160]:
health_expenditure["Provider"].unique()

array(['All providers', 'Hospitals',
       'Residential long-term care facilities',
       'Providers of ambulatory health care',
       'Providers of ancillary services',
       'Retailers and other providers of medical goods',
       'Providers of preventive care',
       'Providers of health care system administration and financing',
       'Rest of the economy', 'Rest of the world', 'Providers unknown'],
      dtype=object)

### Retreive row on % of GDP expenditure on hospitals

In [161]:
hospital_expenditur = health_expenditure.loc[(health_expenditure["Financing scheme"]=="All financing schemes") & (health_expenditure["Function"]=="Current expenditure on health (all functions)") & (health_expenditure["Provider"]=="Hospitals") & (health_expenditure["Measure"]=="Share of gross domestic product")]

hospital_expenditur[hospital_expenditur["Country"]=="Colombia"]

Empty DataFrame
Columns: [HF, Financing scheme, HC, Function, HP, Provider, MEASURE, Measure, LOCATION, Country, TIME, Year, Unit Code, Unit, PowerCode Code, PowerCode, Reference Period Code, Reference Period, Value, Flag Codes, Flags]
Index: []

[0 rows x 21 columns]

In [162]:
hospital_exp = hospital_expenditur[["Country","Year","Value"]]

In [163]:

hospital_exp.rename(columns={"Value":"Hospital_Expenditure"},inplace = "True")
hospital_exp

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\1657086840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_exp.rename(columns={"Value":"Hospital_Expenditure"},inplace = "True")

          Country  Year  Hospital_Expenditure
575     Australia  2000                 2.987
576     Australia  2001                 3.024
577     Australia  2002                 3.123
578     Australia  2003                 3.157
579     Australia  2004                 3.250
...           ...   ...                   ...
414495    Romania  2017                 2.292
414496    Romania  2018                 2.565
414497    Romania  2019                 2.585
414498    Romania  2020                 2.985
414499    Romania  2021                 3.006

[775 rows x 3 columns]

In [164]:

hospital_exp = hospital_exp[hospital_exp['Country'].isin(hospital_pmp['Country'])]
hospital_exp[hospital_exp["Country"]=="Canada"].head(50)

    Country  Year  Hospital_Expenditure
905  Canada  2000                 2.518
906  Canada  2001                 2.591
907  Canada  2002                 2.654
908  Canada  2003                 2.687
909  Canada  2004                 2.710
910  Canada  2005                 2.682
911  Canada  2006                 2.883
912  Canada  2007                 2.911
913  Canada  2008                 2.955
914  Canada  2009                 3.252
915  Canada  2010                 3.274
916  Canada  2011                 3.150
917  Canada  2012                 3.116
918  Canada  2013                 3.099
919  Canada  2014                 3.022
920  Canada  2015                 3.106
921  Canada  2016                 3.099
922  Canada  2017                 3.031
923  Canada  2018                 3.032
924  Canada  2019                 3.021
925  Canada  2020                 3.233
926  Canada  2021                 2.953
927  Canada  2022                 2.811

In [165]:
hospital_exp.describe(include="all")

       Country         Year  Hospital_Expenditure
count      704   704.000000            704.000000
unique      38          NaN                   NaN
top     Canada          NaN                   NaN
freq        23          NaN                   NaN
mean       NaN  2011.461648              3.095588
std        NaN     6.180887              0.883033
min        NaN  2000.000000              0.949000
25%        NaN  2006.000000              2.460750
50%        NaN  2012.000000              3.107500
75%        NaN  2017.000000              3.711750
max        NaN  2022.000000              6.020000

### Retreive row on % of GDP expenditure on Health

In [166]:
Total_health_exp = health_expenditure.loc[(health_expenditure["Financing scheme"]=="All financing schemes") & (health_expenditure["Function"]=="Current expenditure on health (all functions)") & (health_expenditure["Provider"]=="All providers") & (health_expenditure["Measure"]=="Share of gross domestic product")]

Total_health_exp

,HF,Financing scheme,HC,Function,HP,Provider,MEASURE,Measure,LOCATION,Country,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2000,PC,Percentage,0,Units,NaN,NaN,7.594,D,Difference in methodology
1,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2001,PC,Percentage,0,Units,NaN,NaN,7.678,D,Difference in methodology
2,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2002,PC,Percentage,0,Units,NaN,NaN,7.876,D,Difference in methodology
3,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2003,PC,Percentage,0,Units,NaN,NaN,7.881,D,Difference in methodology
4,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,AUS,Australia,...,2004,PC,Percentage,0,Units,NaN,NaN,8.087,D,Difference in methodology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414382,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,ZAF,South Africa,...,2016,PC,Percentage,0,Units,NaN,NaN,8.080,NaN,NaN
414383,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,ZAF,South Africa,...,2017,PC,Percentage,0,Units,NaN,NaN,7.977,NaN,NaN
414384,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,ZAF,South Africa,...,2018,PC,Percentage,0,Units,NaN,NaN,8.077,NaN,NaN
414385,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,ZAF,South Africa,...,2019,PC,Percentage,0,Units,NaN,NaN,8.230,NaN,NaN
414386,HFTOT,All financing schemes,HCTOT,Current expenditure on health (all functions),HPTOT,All providers,PARPIB,Share of gross domestic product,ZAF,South Africa,...,2020,PC,Percentage,0,Units,NaN,NaN,8.528,NaN,NaN

In [167]:
Total_health_exp = Total_health_exp[["Country","Year","Value"]]
Total_health_exp.rename(columns={"Value":"Total_Health_Expenditure"},inplace = "True")
Total_health_exp = Total_health_exp[Total_health_exp['Country'].isin(hospital_pmp['Country'])]

Total_health_exp

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\1549616634.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Total_health_exp.rename(columns={"Value":"Total_Health_Expenditure"},inplace = "True")

          Country  Year  Total_Health_Expenditure
0       Australia  2000                     7.594
1       Australia  2001                     7.678
2       Australia  2002                     7.876
3       Australia  2003                     7.881
4       Australia  2004                     8.087
...           ...   ...                       ...
414266    Romania  2017                     5.189
414267    Romania  2018                     5.518
414268    Romania  2019                     5.714
414269    Romania  2020                     6.226
414270    Romania  2021                     6.479

[885 rows x 3 columns]

In [168]:
Total_health_exp[Total_health_exp["Country"]=="Canada"].head(50)

    Country  Year  Total_Health_Expenditure
414  Canada  2000                     8.248
415  Canada  2001                     8.625
416  Canada  2002                     8.857
417  Canada  2003                     9.011
418  Canada  2004                     9.066
419  Canada  2005                     9.035
420  Canada  2006                     9.342
421  Canada  2007                     9.445
422  Canada  2008                     9.608
423  Canada  2009                    10.662
424  Canada  2010                    10.676
425  Canada  2011                    10.380
426  Canada  2012                    10.510
427  Canada  2013                    10.412
428  Canada  2014                    10.258
429  Canada  2015                    10.739
430  Canada  2016                    11.032
431  Canada  2017                    10.906
432  Canada  2018                    10.905
433  Canada  2019                    11.009
434  Canada  2020                    13.035
435  Canada  2021                    12.334
436  Canada  2022                    11.155

# Injury

In [169]:
injury

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,AUS,Australia,2000,2000,1383.0,B,Break
1,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,AUS,Australia,2001,2001,1417.6,B,Break
2,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,AUS,Australia,2002,2002,1426.0,NaN,NaN
3,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,AUS,Australia,2003,2003,1434.7,NaN,NaN
4,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,AUS,Australia,2004,2004,1441.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
857,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,HRV,Croatia,2015,2015,3570.0,NaN,NaN
858,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,HRV,Croatia,2016,2016,3498.0,NaN,NaN
859,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,HRV,Croatia,2017,2017,3537.0,NaN,NaN
860,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,HRV,Croatia,2018,2018,3420.0,NaN,NaN
861,INJRACIR,Injuries in road traffic accidents,BLESSETX,Injured per million population,HRV,Croatia,2019,2019,3165.0,NaN,NaN

#### For uniformity drop the injury count from permillion population to per 100,000 population by dividing the value by 10

In [170]:
injury["Value"] =injury["Value"]/10
injury.rename(columns={"Value":"Injury Count"}, inplace=True)
injury = injury[["Country","Year","Injury Count"]]
injury

       Country  Year  Injury Count
0    Australia  2000        138.30
1    Australia  2001        141.76
2    Australia  2002        142.60
3    Australia  2003        143.47
4    Australia  2004        144.10
..         ...   ...           ...
857    Croatia  2015        357.00
858    Croatia  2016        349.80
859    Croatia  2017        353.70
860    Croatia  2018        342.00
861    Croatia  2019        316.50

[862 rows x 3 columns]

In [171]:
injury= injury[injury['Country'].isin(hospital_pmp['Country'])]
injury

       Country  Year  Injury Count
0    Australia  2000        138.30
1    Australia  2001        141.76
2    Australia  2002        142.60
3    Australia  2003        143.47
4    Australia  2004        144.10
..         ...   ...           ...
857    Croatia  2015        357.00
858    Croatia  2016        349.80
859    Croatia  2017        353.70
860    Croatia  2018        342.00
861    Croatia  2019        316.50

[806 rows x 3 columns]

# Life Expectancy

In [172]:
life_expectancy

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,EVIEFE00,Females at birth,EVIDUREV,Years,AUS,Australia,2000,2000,82.0,NaN,NaN
1,EVIEFE00,Females at birth,EVIDUREV,Years,AUS,Australia,2001,2001,82.4,NaN,NaN
2,EVIEFE00,Females at birth,EVIDUREV,Years,AUS,Australia,2002,2002,82.6,NaN,NaN
3,EVIEFE00,Females at birth,EVIDUREV,Years,AUS,Australia,2003,2003,82.8,NaN,NaN
4,EVIEFE00,Females at birth,EVIDUREV,Years,AUS,Australia,2004,2004,83.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20244,EVIEHO00,Males at birth,EVIDUREV,Years,ARG,Argentina,2018,2018,73.5,NaN,NaN
20245,EVIEHO00,Males at birth,EVIDUREV,Years,ARG,Argentina,2019,2019,73.6,NaN,NaN
20246,EVIEHO00,Males at birth,EVIDUREV,Years,ARG,Argentina,2020,2020,73.9,NaN,NaN
20247,EVIEHO00,Males at birth,EVIDUREV,Years,ARG,Argentina,2021,2021,72.5,NaN,NaN
20248,EVIEHO00,Males at birth,EVIDUREV,Years,ARG,Argentina,2022,2022,72.2,NaN,NaN

### Retrieve data on life expectancy of total population at birth

In [173]:
life_expectancy = life_expectancy[life_expectancy["Variable"]=="Total population at birth"]
life_expectancy.rename(columns={"Value":"life_expectancy"}, inplace=True)
life_expectancy = life_expectancy[["Country","Year","life_expectancy"]]
life_expectancy

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\2515475861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_expectancy.rename(columns={"Value":"life_expectancy"}, inplace=True)

         Country  Year  life_expectancy
220    Australia  2000             79.2
221    Australia  2001             79.6
222    Australia  2002             79.9
223    Australia  2003             80.2
224    Australia  2004             80.5
...          ...   ...              ...
19829  Argentina  2018             76.8
19830  Argentina  2019             77.0
19831  Argentina  2020             77.3
19832  Argentina  2021             75.9
19833  Argentina  2022             75.4

[1081 rows x 3 columns]

In [174]:
life_expectancy= life_expectancy[life_expectancy['Country'].isin(hospital_pmp['Country'])]
life_expectancy

         Country  Year  life_expectancy
220    Australia  2000             79.2
221    Australia  2001             79.6
222    Australia  2002             79.9
223    Australia  2003             80.2
224    Australia  2004             80.5
...          ...   ...              ...
19563    Romania  2017             75.2
19564    Romania  2018             75.3
19565    Romania  2019             75.6
19566    Romania  2020             74.2
19567    Romania  2021             72.8

[856 rows x 3 columns]

# Mortality

In [175]:
mortality

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,CICDALLC,All causes of death,TXCMILTX,Deaths per 100 000 population (standardised ra...,AUS,Australia,2000,2000,885.3,NaN,NaN
1,CICDALLC,All causes of death,TXCMILTX,Deaths per 100 000 population (standardised ra...,AUS,Australia,2001,2001,855.3,NaN,NaN
2,CICDALLC,All causes of death,TXCMILTX,Deaths per 100 000 population (standardised ra...,AUS,Australia,2002,2002,859.1,NaN,NaN
3,CICDALLC,All causes of death,TXCMILTX,Deaths per 100 000 population (standardised ra...,AUS,Australia,2003,2003,827.6,NaN,NaN
4,CICDALLC,All causes of death,TXCMILTX,Deaths per 100 000 population (standardised ra...,AUS,Australia,2004,2004,818.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
584370,PLYLCVID,Codes for special purposes: COVID-19,ANNTOTTX,"Years lost, /100 000 population, aged 75 years...",DNK,Denmark,2020,2020,31.4,NaN,NaN
584371,CICDCVID,Codes for special purposes: COVID-19,TXCMHOTH,Deaths per 100 000 males (standardised rates),DNK,Denmark,2020,2020,21.7,NaN,NaN
584372,CICDCVID,Codes for special purposes: COVID-19,TXCMILTX,Deaths per 100 000 population (standardised ra...,JPN,Japan,2020,2020,1.5,NaN,NaN
584373,PLYLCVID,Codes for special purposes: COVID-19,ANNHOMTH,"Years lost, /100 000 males, aged 75 years old",ARG,Argentina,2020,2020,1236.0,NaN,NaN
584374,CICDCVID,Codes for special purposes: COVID-19,NBMALEPH,Number of male deaths,CHL,Chile,2020,2020,10795.0,NaN,NaN

### Retreive crude rate data caused by anything

In [176]:
mortality = mortality.loc[(mortality["Variable"]=="All causes of death") & (mortality["Measure"]=="Deaths per 100 000 population (crude rates)")]
mortality.rename(columns={"Value":"Mortality"}, inplace=True)
mortality = mortality[["Country","Year","Mortality"]]

mortality

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\2147818601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortality.rename(columns={"Value":"Mortality"}, inplace=True)

                Country  Year  Mortality
390691  Slovak Republic  2000      978.4
390692  Slovak Republic  2001      966.4
390693  Slovak Republic  2002      958.4
390694  Slovak Republic  2003      972.0
390695  Slovak Republic  2004      965.2
...                 ...   ...        ...
579180        Argentina  2016      802.6
579181        Argentina  2017      774.1
579182        Argentina  2018      756.0
579183        Argentina  2019      757.8
579184        Argentina  2020      822.1

[921 rows x 3 columns]

In [177]:


mortality= mortality[mortality['Country'].isin(hospital_pmp['Country'])]
mortality

                Country  Year  Mortality
390691  Slovak Republic  2000      978.4
390692  Slovak Republic  2001      966.4
390693  Slovak Republic  2002      958.4
390694  Slovak Republic  2003      972.0
390695  Slovak Republic  2004      965.2
...                 ...   ...        ...
568641          Romania  2015     1318.6
568642          Romania  2016     1311.5
568643          Romania  2017     1339.1
568644          Romania  2018     1360.6
568645          Romania  2019     1341.6

[784 rows x 3 columns]

# Population

In [178]:
population

,LOCATION,Country,SEX,Sex,AGE,Age,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,W,Women,TOTAL,Total,2000,2000,9.585337e+06,NaN,NaN
1,AUS,Australia,W,Women,TOTAL,Total,2001,2001,9.712875e+06,NaN,NaN
2,AUS,Australia,W,Women,TOTAL,Total,2002,2002,9.819727e+06,NaN,NaN
3,AUS,Australia,W,Women,TOTAL,Total,2003,2003,9.933140e+06,NaN,NaN
4,AUS,Australia,W,Women,TOTAL,Total,2004,2004,1.003677e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
119779,OECD,OECD - Total,T,Total,OAD20-64,Old age dependency ratio (65 and over/20-64),2018,2018,2.856826e+01,NaN,NaN
119780,OECD,OECD - Total,T,Total,OAD20-64,Old age dependency ratio (65 and over/20-64),2019,2019,2.911835e+01,NaN,NaN
119781,OECD,OECD - Total,T,Total,OAD20-64,Old age dependency ratio (65 and over/20-64),2020,2020,2.955554e+01,NaN,NaN
119782,OECD,OECD - Total,T,Total,OAD20-64,Old age dependency ratio (65 and over/20-64),2021,2021,3.009152e+01,NaN,NaN
119783,OECD,OECD - Total,T,Total,OAD20-64,Old age dependency ratio (65 and over/20-64),2022,2022,3.059650e+01,NaN,NaN

In [179]:
population = population.loc[(population["Sex"]=="Total") & (population["Age"]=="Total")]
population.rename(columns={"Value":"Population","Time":"Year"}, inplace=True)
population =population[["Country","Year","Population"]]

population

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\2240529455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={"Value":"Population","Time":"Year"}, inplace=True)

                              Country  Year   Population
46                          Australia  2000   19028802.0
47                          Australia  2001   19274701.0
48                          Australia  2002   19495210.0
49                          Australia  2003   19720737.0
50                          Australia  2004   19932722.0
...                               ...   ...          ...
110119  European Union (27 countries)  2018  446457200.0
110120  European Union (27 countries)  2019  447402405.0
110121  European Union (27 countries)  2020  447805543.0
110122  European Union (27 countries)  2021  447117504.5
110123  European Union (27 countries)  2022  447949164.0

[1288 rows x 3 columns]

In [180]:
population= population[population['Country'].isin(hospital_pmp['Country'])]
population

        Country  Year  Population
46    Australia  2000  19028802.0
47    Australia  2001  19274701.0
48    Australia  2002  19495210.0
49    Australia  2003  19720737.0
50    Australia  2004  19932722.0
...         ...   ...         ...
3514   Slovenia  2018   2070050.0
3515   Slovenia  2019   2089310.0
3516   Slovenia  2020   2100126.0
3517   Slovenia  2021   2107007.0
3518   Slovenia  2022   2108732.0

[897 rows x 3 columns]

## Merge all dataste of hospital_pmp, gdp_filter, communicable_diseas,hospital_exp, Total_health_exp,injury, life_expectancy, mortality, and population

In [181]:
hospital_pmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 803 entries, 2590 to 6400
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           803 non-null    object
 1   Year              803 non-null    int64
 2   Hospital_density  803 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 25.1+ KB

In [182]:
gdp_filter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 897 entries, 0 to 896
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  897 non-null    object
 1   Year     897 non-null    object
 2   gdp      897 non-null    float64
dtypes: float64(1), object(2)
memory usage: 28.0+ KB

In [183]:
communicable_diseas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 868 entries, 0 to 935
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               868 non-null    object
 1   Year                  868 non-null    int64
 2   Communicable_disease  868 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 27.1+ KB

In [184]:
hospital_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 704 entries, 575 to 414499
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               704 non-null    object
 1   Year                  704 non-null    int64
 2   Hospital_Expenditure  704 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 22.0+ KB

In [185]:
Total_health_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 414270
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   885 non-null    object
 1   Year                      885 non-null    int64
 2   Total_Health_Expenditure  885 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 27.7+ KB

In [186]:
injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806 entries, 0 to 861
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       806 non-null    object
 1   Year          806 non-null    int64
 2   Injury Count  806 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 25.2+ KB

In [187]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 856 entries, 220 to 19567
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          856 non-null    object
 1   Year             856 non-null    int64
 2   life_expectancy  856 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.8+ KB

In [188]:
mortality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 784 entries, 390691 to 568645
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    784 non-null    object
 1   Year       784 non-null    int64
 2   Mortality  784 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 24.5+ KB

In [189]:
population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 897 entries, 46 to 3518
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     897 non-null    object
 1   Year        897 non-null    int64
 2   Population  897 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.0+ KB

In [190]:


gdp_filter['Year'] = gdp_filter['Year'].astype(int)

In [191]:

infrastructure_data = pd.merge(hospital_pmp, gdp_filter,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, communicable_diseas,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, hospital_exp,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, Total_health_exp,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, injury,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, life_expectancy,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, mortality,  on=['Country', 'Year'], how='outer')
infrastructure_data = pd.merge(infrastructure_data, population,  on=['Country', 'Year'], how='outer')

In [192]:
infrastructure_data

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
0,Australia,2000,6.648,4.158450e+11,35.6,2.987,7.594,138.30,79.2,676.8,19028802.0
1,Australia,2001,6.656,3.793580e+11,53.3,3.024,7.678,141.76,79.6,667.5,19274701.0
2,Australia,2002,6.586,3.955730e+11,32.2,3.123,7.876,142.60,79.9,682.5,19495210.0
3,Australia,2003,6.521,4.674980e+11,29.3,3.157,7.881,143.47,80.2,668.3,19720737.0
4,Australia,2004,6.477,6.143260e+11,46.4,3.250,8.087,144.10,80.5,663.8,19932722.0
...,...,...,...,...,...,...,...,...,...,...,...
892,United Kingdom,2003,NaN,2.056700e+12,3.0,NaN,7.988,498.50,78.3,1026.4,59636662.0
893,United Kingdom,2011,NaN,2.666400e+12,5.5,NaN,9.724,333.00,80.7,872.6,63285145.0
894,United Kingdom,2006,NaN,2.709980e+12,4.5,NaN,8.475,434.50,79.3,940.7,60827067.0
895,United Kingdom,2001,NaN,1.648770e+12,1.9,NaN,7.413,546.20,78.0,1022.4,59113016.0
896,United States,2022,NaN,2.546270e+13,NaN,NaN,16.634,NaN,NaN,NaN,333287557.0

# Handle Null Values. We cannot use 0 to fill the null values because non of the values can be zero in reality

In [193]:
infrastructure_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 897 entries, 0 to 896
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   897 non-null    object
 1   Year                      897 non-null    int64
 2   Hospital_density          803 non-null    float64
 3   gdp                       897 non-null    float64
 4   Communicable_disease      868 non-null    float64
 5   Hospital_Expenditure      704 non-null    float64
 6   Total_Health_Expenditure  885 non-null    float64
 7   Injury Count              806 non-null    float64
 8   life_expectancy           856 non-null    float64
 9   Mortality                 784 non-null    float64
 10  Population                897 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 84.1+ KB

In [194]:
def get_rows_with_missing_data(dataframe):
    # Find rows with missing data
    rows_with_missing_data = dataframe[dataframe.isnull().any(axis=1)]
    return rows_with_missing_data
rows_missing_data = get_rows_with_missing_data(infrastructure_data)
rows_missing_data

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
5,Australia,2005,6.453,6.953050e+11,57.6,3.263,7.970,150.64,80.8,NaN,20176844.0
19,Australia,2019,5.276,1.392220e+12,49.1,4.373,10.220,NaN,82.9,666.8,25340217.0
20,Australia,2020,5.219,1.326940e+12,14.1,4.443,10.684,NaN,83.2,628.7,25655289.0
21,Austria,2000,3.420,1.972900e+11,3.3,NaN,9.204,685.62,78.3,958.4,8011566.0
22,Austria,2001,3.332,1.975090e+11,4.7,NaN,9.269,699.61,78.8,929.7,8042293.0
...,...,...,...,...,...,...,...,...,...,...,...
892,United Kingdom,2003,NaN,2.056700e+12,3.0,NaN,7.988,498.50,78.3,1026.4,59636662.0
893,United Kingdom,2011,NaN,2.666400e+12,5.5,NaN,9.724,333.00,80.7,872.6,63285145.0
894,United Kingdom,2006,NaN,2.709980e+12,4.5,NaN,8.475,434.50,79.3,940.7,60827067.0
895,United Kingdom,2001,NaN,1.648770e+12,1.9,NaN,7.413,546.20,78.0,1022.4,59113016.0
896,United States,2022,NaN,2.546270e+13,NaN,NaN,16.634,NaN,NaN,NaN,333287557.0

In [195]:
infrastructure_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 897 entries, 0 to 896
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   897 non-null    object
 1   Year                      897 non-null    int64
 2   Hospital_density          803 non-null    float64
 3   gdp                       897 non-null    float64
 4   Communicable_disease      868 non-null    float64
 5   Hospital_Expenditure      704 non-null    float64
 6   Total_Health_Expenditure  885 non-null    float64
 7   Injury Count              806 non-null    float64
 8   life_expectancy           856 non-null    float64
 9   Mortality                 784 non-null    float64
 10  Population                897 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 84.1+ KB

In [196]:


def interpolate_by_country(df):
    # Grouping the DataFrame by 'Country' column
    grouped = df.groupby('Country')
    
    # Interpolate the grouped data by country
    interpolated = grouped.apply(lambda group: group.interpolate(method='linear', limit_direction='both'))
    
    return interpolated.reset_index(drop=True)

# Interpolate missing values based on country
infrastructure_data = interpolate_by_country(infrastructure_data)

infrastructure_data.sort_values(by=["gdp"]).tail(50)

C:\Users\Anih Nathan\AppData\Local\Temp\ipykernel_2116\3889176707.py:6: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  interpolated = grouped.apply(lambda group: group.interpolate(method='linear', limit_direction='both'))

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
170,Germany,2020,3.615,3.889670e+12,4.5,3.657,12.693,462.40,81.1,1185.1,83160877.0
168,Germany,2018,3.680,3.974440e+12,17.0,3.179,11.481,477.70,81.0,1151.8,82905788.0
829,Germany,2022,3.581,4.072190e+12,0.0,3.491,12.655,462.40,80.8,1185.1,83797987.0
280,Japan,2002,7.209,4.182850e+12,71.1,3.588,7.352,916.60,81.8,770.9,127435000.0
839,Japan,2022,6.538,4.231140e+12,0.5,4.504,11.507,283.99,84.5,1088.2,124946789.0
171,Germany,2021,3.581,4.259930e+12,1.5,3.491,12.934,462.40,80.8,1185.1,83196076.0
279,Japan,2001,7.258,4.374710e+12,0.3,3.558,7.239,927.80,81.5,762.3,127291000.0
293,Japan,2015,6.672,4.444930e+12,14.7,4.335,10.750,524.00,83.9,1015.3,127094745.0
281,Japan,2003,7.148,4.519560e+12,54.6,3.623,7.487,925.90,81.8,795.3,127619000.0
285,Japan,2007,6.922,4.579750e+12,37.9,3.624,7.779,809.80,82.6,865.7,128032743.0
284,Japan,2006,6.992,4.601660e+12,11.2,3.593,7.687,859.80,82.4,847.9,127900515.0
283,Japan,2005,7.064,4.831470e+12,13.6,3.618,7.658,905.60,82.0,848.3,127767994.0
282,Japan,2004,7.109,4.893120e+12,20.0,3.594,7.535,927.00,82.1,805.6,127687000.0
292,Japan,2014,6.675,4.896990e+12,10.3,4.400,10.729,559.80,83.7,1000.5,127237150.0
295,Japan,2017,6.639,4.930840e+12,7.8,4.381,10.656,458.42,84.2,1057.9,126918546.0
278,Japan,2000,7.300,4.968360e+12,0.3,3.477,7.035,910.50,81.2,757.6,126925843.0
294,Japan,2016,6.651,5.003680e+12,12.4,4.363,10.659,487.54,84.1,1030.3,127041812.0
299,Japan,2021,6.538,5.005540e+12,1.0,4.504,11.299,288.55,84.5,1088.2,125502290.0
296,Japan,2018,6.621,5.040880e+12,10.3,4.359,10.740,415.88,84.3,1077.5,126748506.0
298,Japan,2020,6.531,5.048790e+12,2.7,4.504,11.005,292.90,84.6,1088.2,126146099.0
286,Japan,2008,6.866,5.106680e+12,52.8,3.724,8.089,740.60,82.7,891.9,128083960.0
297,Japan,2019,6.579,5.117990e+12,14.5,4.507,10.970,365.20,84.4,1094.7,126555078.0
291,Japan,2013,6.703,5.212330e+12,11.0,4.410,10.674,613.90,83.4,995.5,127413888.0
287,Japan,2009,6.826,5.289490e+12,27.6,4.124,8.959,714.60,83.0,891.9,128031514.0
288,Japan,2010,6.770,5.759070e+12,43.8,4.229,9.063,699.90,82.9,934.7,128057352.0
289,Japan,2011,6.731,6.233150e+12,29.1,4.391,10.488,668.70,82.7,980.2,127834233.0
290,Japan,2012,6.713,6.272360e+12,28.8,4.447,10.672,647.30,83.2,984.7,127592657.0
546,United States,2000,2.059,1.025090e+13,20.0,4.054,12.490,1127.30,76.8,851.8,282162411.0
547,United States,2001,2.036,1.058190e+13,19.0,4.246,13.168,1061.20,77.0,848.0,284968955.0
548,United States,2002,2.014,1.092910e+13,19.7,4.451,13.995,1014.30,77.0,849.5,287625193.0
549,United States,2003,1.987,1.145640e+13,20.1,4.590,14.506,992.80,77.2,843.9,290107933.0
550,United States,2004,1.967,1.221720e+13,23.9,4.627,14.551,949.80,77.6,818.8,292805298.0
551,United States,2005,1.948,1.303920e+13,22.6,4.667,14.579,911.40,77.6,828.4,295516599.0
552,United States,2006,1.926,1.381560e+13,18.3,4.714,14.709,861.60,77.8,813.2,298379912.0
553,United States,2007,1.895,1.447420e+13,16.0,4.780,14.918,825.80,78.1,804.7,301231207.0
555,United States,2009,1.889,1.447810e+13,16.8,5.326,16.201,721.60,78.5,794.7,306771529.0
554,United States,2008,1.912,1.476990e+13,16.5,4.886,15.207,770.50,78.2,812.9,304093966.0
556,United States,2010,1.860,1.504900e+13,19.1,5.374,16.197,725.40,78.7,798.3,309327143.0
557,United States,2011,1.837,1.559970e+13,15.4,5.341,16.140,713.00,78.7,807.3,311583481.0
558,United States,2012,1.823,1.625400e+13,24.3,5.402,16.120,752.60,78.8,810.3,313877662.0
559,United States,2013,1.799,1.684320e+13,17.7,5.384,15.992,731.20,78.8,821.7,316059947.0
560,United States,2014,1.767,1.755070e+13,17.5,5.359,16.199,733.30,78.9,824.9,318386329.0
561,United States,2015,1.735,1.820600e+13,14.6,5.432,16.491,767.30,78.7,845.7,320738994.0
562,United States,2016,1.713,1.869510e+13,13.4,5.538,16.802,950.40,78.7,849.4,323071755.0
563,United States,2017,1.910,1.947730e+13,13.4,5.532,16.768,846.10,78.6,865.4,325122128.0
564,United States,2018,1.880,2.053310e+13,12.1,5.468,16.630,829.40,78.7,868.7,326838199.0
566,United States,2020,1.838,2.106050e+13,5.1,6.020,18.756,688.60,77.0,1020.7,331511512.0
565,United States,2019,1.855,2.138100e+13,13.2,5.582,16.666,832.60,78.8,869.5,328329953.0
567,United States,2021,1.847,2.331510e+13,5.1,5.678,17.363,748.30,76.4,1020.7,332031554.0
896,United States,2022,1.847,2.546270e+13,5.1,5.678,16.634,748.30,76.4,1020.7,333287557.0

In [197]:
infrastructure_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   897 non-null    object
 1   Year                      897 non-null    int64
 2   Hospital_density          897 non-null    float64
 3   gdp                       897 non-null    float64
 4   Communicable_disease      897 non-null    float64
 5   Hospital_Expenditure      874 non-null    float64
 6   Total_Health_Expenditure  897 non-null    float64
 7   Injury Count              874 non-null    float64
 8   life_expectancy           897 non-null    float64
 9   Mortality                 897 non-null    float64
 10  Population                897 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 77.2+ KB

In [198]:
#missrows = infrastructure_data[["gdp","Communicable_disease","Hospital_Expenditure","Total_Health_Expenditure","Injury Count","life_expectancy","Mortality"]].sort_values(by=["gdp"]).tail(50)
rows_with_null = infrastructure_data[infrastructure_data.isnull().any(axis=1)]

print(rows_with_null)

      Country  Year  Hospital_density           gdp  Communicable_disease  \
726  Colombia  2010            22.874  2.864990e+11              4.600000
727  Colombia  2011            21.538  3.349660e+11              6.400000
728  Colombia  2012            23.041  3.706910e+11             12.900000
729  Colombia  2013            23.756  3.820940e+11             10.900000
730  Colombia  2014            24.130  3.812410e+11             17.800000
731  Colombia  2015            21.399  2.934920e+11             21.400000
732  Colombia  2016            21.535  2.827200e+11             21.300000
733  Colombia  2017            21.314  3.118670e+11             45.600000
734  Colombia  2018            21.114  3.341980e+11             25.700000
735  Colombia  2019            21.112  3.230320e+11             26.100000
736  Colombia  2020            21.408  2.701510e+11             28.500000
808  Colombia  2005            21.408  1.456010e+11             19.233333
809  Colombia  2022            21.408  3.439390e+11              9.966667
810  Colombia  2008            21.408  2.425040e+11              0.700000
811  Colombia  2009            21.408  2.324690e+11              1.000000
812  Colombia  2004            21.408  1.170920e+11              4.028571
813  Colombia  2001            21.408  9.820064e+10              7.057143
814  Colombia  2007            21.408  2.062300e+11             10.085714
815  Colombia  2003            21.408  9.464497e+10             13.114286
816  Colombia  2000            21.408  9.987507e+10             16.142857
817  Colombia  2006            21.408  1.617930e+11             19.171429
818  Colombia  2021            21.408  3.185120e+11             22.200000
819  Colombia  2002            21.408  9.794581e+10             22.200000

     Hospital_Expenditure  Total_Health_Expenditure  Injury Count  \
726                   NaN                     7.071           NaN
727                   NaN                     6.781           NaN
728                   NaN                     6.746           NaN
729                   NaN                     7.017           NaN
730                   NaN                     7.186           NaN
731                   NaN                     7.523           NaN
732                   NaN                     7.531           NaN
733                   NaN                     7.679           NaN
734                   NaN                     7.625           NaN
735                   NaN                     7.780           NaN
736                   NaN                     8.714           NaN
808                   NaN                     6.067           NaN
809                   NaN                     8.068           NaN
810                   NaN                     6.842           NaN
811                   NaN                     7.311           NaN
812                   NaN                     5.799           NaN
813                   NaN                     5.942           NaN
814                   NaN                     6.491           NaN
815                   NaN                     5.775           NaN
816                   NaN                     5.635           NaN
817                   NaN                     6.336           NaN
818                   NaN                     9.018           NaN
819                   NaN                     5.733           NaN

     life_expectancy  Mortality  Population
726             74.3     440.60  44086292.0
727             74.5     425.20  44553416.0
728             74.7     428.70  45001571.0
729             75.0     430.90  45434942.0
730             75.2     440.70  45866010.0
731             75.4     455.20  46313898.0
732             75.7     457.60  46830116.0
733             75.9     461.70  47419200.0
734             76.5     475.30  48258494.0
735             76.6     484.90  49395678.0
736             76.7     590.80  50407647.0
808             73.0     440.20  41671878.0
809             76.9     441.35  51682692.0
810             73.8     442.50  43134017.0
811             74.0     437.30  43608630.0
812             72.6     445.50  41188093.0
813             71.4     468.80  39674811.0
814             73.5     436.30  42658630.0
815             72.2     453.50  40693254.0
816             71.0     464.70  39140080.0
817             73.3     444.10  42170126.0
818             76.8     454.35  51117378.0
819             71.8     464.60  40190679.0

### There is no record for hospital expenditure because in the original dataset only data on all epenses on health care was captured for colombia

In [199]:
infrastructure_data.loc[infrastructure_data['Hospital_Expenditure'].isnull(), 'Hospital_Expenditure'] = infrastructure_data.loc[infrastructure_data['Hospital_Expenditure'].isnull(), 'Total_Health_Expenditure']

In [200]:
rows_with_null = infrastructure_data[infrastructure_data.isnull().any(axis=1)]

print(rows_with_null)

      Country  Year  Hospital_density           gdp  Communicable_disease  \
726  Colombia  2010            22.874  2.864990e+11              4.600000
727  Colombia  2011            21.538  3.349660e+11              6.400000
728  Colombia  2012            23.041  3.706910e+11             12.900000
729  Colombia  2013            23.756  3.820940e+11             10.900000
730  Colombia  2014            24.130  3.812410e+11             17.800000
731  Colombia  2015            21.399  2.934920e+11             21.400000
732  Colombia  2016            21.535  2.827200e+11             21.300000
733  Colombia  2017            21.314  3.118670e+11             45.600000
734  Colombia  2018            21.114  3.341980e+11             25.700000
735  Colombia  2019            21.112  3.230320e+11             26.100000
736  Colombia  2020            21.408  2.701510e+11             28.500000
808  Colombia  2005            21.408  1.456010e+11             19.233333
809  Colombia  2022            21.408  3.439390e+11              9.966667
810  Colombia  2008            21.408  2.425040e+11              0.700000
811  Colombia  2009            21.408  2.324690e+11              1.000000
812  Colombia  2004            21.408  1.170920e+11              4.028571
813  Colombia  2001            21.408  9.820064e+10              7.057143
814  Colombia  2007            21.408  2.062300e+11             10.085714
815  Colombia  2003            21.408  9.464497e+10             13.114286
816  Colombia  2000            21.408  9.987507e+10             16.142857
817  Colombia  2006            21.408  1.617930e+11             19.171429
818  Colombia  2021            21.408  3.185120e+11             22.200000
819  Colombia  2002            21.408  9.794581e+10             22.200000

     Hospital_Expenditure  Total_Health_Expenditure  Injury Count  \
726                 7.071                     7.071           NaN
727                 6.781                     6.781           NaN
728                 6.746                     6.746           NaN
729                 7.017                     7.017           NaN
730                 7.186                     7.186           NaN
731                 7.523                     7.523           NaN
732                 7.531                     7.531           NaN
733                 7.679                     7.679           NaN
734                 7.625                     7.625           NaN
735                 7.780                     7.780           NaN
736                 8.714                     8.714           NaN
808                 6.067                     6.067           NaN
809                 8.068                     8.068           NaN
810                 6.842                     6.842           NaN
811                 7.311                     7.311           NaN
812                 5.799                     5.799           NaN
813                 5.942                     5.942           NaN
814                 6.491                     6.491           NaN
815                 5.775                     5.775           NaN
816                 5.635                     5.635           NaN
817                 6.336                     6.336           NaN
818                 9.018                     9.018           NaN
819                 5.733                     5.733           NaN

     life_expectancy  Mortality  Population
726             74.3     440.60  44086292.0
727             74.5     425.20  44553416.0
728             74.7     428.70  45001571.0
729             75.0     430.90  45434942.0
730             75.2     440.70  45866010.0
731             75.4     455.20  46313898.0
732             75.7     457.60  46830116.0
733             75.9     461.70  47419200.0
734             76.5     475.30  48258494.0
735             76.6     484.90  49395678.0
736             76.7     590.80  50407647.0
808             73.0     440.20  41671878.0
809             76.9     441.35  51682692.0
810             73.8     442.50  43134017.0
811             74.0     437.30  43608630.0
812             72.6     445.50  41188093.0
813             71.4     468.80  39674811.0
814             73.5     436.30  42658630.0
815             72.2     453.50  40693254.0
816             71.0     464.70  39140080.0
817             73.3     444.10  42170126.0
818             76.8     454.35  51117378.0
819             71.8     464.60  40190679.0

In [201]:
infrastructure_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   897 non-null    object
 1   Year                      897 non-null    int64
 2   Hospital_density          897 non-null    float64
 3   gdp                       897 non-null    float64
 4   Communicable_disease      897 non-null    float64
 5   Hospital_Expenditure      897 non-null    float64
 6   Total_Health_Expenditure  897 non-null    float64
 7   Injury Count              874 non-null    float64
 8   life_expectancy           897 non-null    float64
 9   Mortality                 897 non-null    float64
 10  Population                897 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 77.2+ KB

In [202]:
infrastructure_data.head(40)

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
0,Australia,2000,6.648,4.158450e+11,35.6,2.987,7.594,138.30,79.2,676.80,19028802.0
1,Australia,2001,6.656,3.793580e+11,53.3,3.024,7.678,141.76,79.6,667.50,19274701.0
2,Australia,2002,6.586,3.955730e+11,32.2,3.123,7.876,142.60,79.9,682.50,19495210.0
3,Australia,2003,6.521,4.674980e+11,29.3,3.157,7.881,143.47,80.2,668.30,19720737.0
4,Australia,2004,6.477,6.143260e+11,46.4,3.250,8.087,144.10,80.5,663.80,19932722.0
5,Australia,2005,6.453,6.953050e+11,57.6,3.263,7.970,150.64,80.8,658.85,20176844.0
6,Australia,2006,6.430,7.479070e+11,50.8,3.284,7.977,156.53,81.0,653.90,20450966.0
7,Australia,2007,6.309,8.544270e+11,25.6,3.322,8.055,154.89,81.3,661.90,20827622.0
8,Australia,2008,6.212,1.055690e+12,69.4,3.534,8.249,156.10,81.4,677.40,21249199.0
9,Australia,2009,6.150,9.286300e+11,141.2,3.711,8.545,154.09,81.5,648.90,21691653.0
10,Australia,2010,6.105,1.148570e+12,160.0,3.656,8.420,147.82,81.7,651.20,22031750.0
11,Australia,2011,6.021,1.398460e+12,175.8,3.695,8.537,151.33,81.9,657.70,22340024.0
12,Australia,2012,5.925,1.546950e+12,108.1,3.744,8.675,148.69,82.0,647.10,22733465.0
13,Australia,2013,5.876,1.576330e+12,55.0,3.807,8.751,150.48,82.1,638.50,23128129.0
14,Australia,2014,5.631,1.467590e+12,52.9,3.967,9.834,150.39,82.3,654.20,23475686.0
15,Australia,2015,5.589,1.350580e+12,95.7,4.124,10.182,154.61,82.4,667.80,23815995.0
16,Australia,2016,5.593,1.206560e+12,84.3,4.130,10.093,159.68,82.4,655.20,24190907.0
17,Australia,2017,5.461,1.326470e+12,50.6,4.226,10.123,158.76,82.5,655.00,24594202.0
18,Australia,2018,5.423,1.428270e+12,51.4,4.270,10.060,157.31,82.7,635.50,24966643.0
19,Australia,2019,5.276,1.392220e+12,49.1,4.373,10.220,157.31,82.9,666.80,25340217.0
20,Australia,2020,5.219,1.326940e+12,14.1,4.443,10.684,157.31,83.2,628.70,25655289.0
21,Austria,2000,3.420,1.972900e+11,3.3,3.676,9.204,685.62,78.3,958.40,8011566.0
22,Austria,2001,3.332,1.975090e+11,4.7,3.676,9.269,699.61,78.8,929.70,8042293.0
23,Austria,2002,3.328,2.143950e+11,3.5,3.676,9.395,701.35,78.9,942.00,8082121.0
24,Austria,2003,3.263,2.622740e+11,4.6,3.676,9.547,700.66,78.8,950.70,8118245.0
25,Austria,2004,3.218,3.014580e+11,3.1,3.676,9.709,683.73,79.3,909.10,8169441.0
26,Austria,2005,3.209,3.160920e+11,2.9,3.731,9.627,647.20,79.5,913.80,8225278.0
27,Austria,2006,3.193,3.362800e+11,2.4,3.693,9.531,628.09,80.1,898.50,8267948.0
28,Austria,2007,3.255,3.891860e+11,3.2,3.660,9.532,641.47,80.3,899.60,8295189.0
29,Austria,2008,3.209,4.320520e+11,9.2,3.768,9.726,607.11,80.6,902.30,8321541.0
30,Austria,2009,3.200,4.017590e+11,4.1,3.971,10.226,589.32,80.5,927.50,8341483.0
31,Austria,2010,3.228,3.922750e+11,7.0,3.965,10.221,548.47,80.7,923.10,8361069.0
32,Austria,2011,3.253,4.316850e+11,5.8,3.889,10.026,536.74,81.1,911.40,8388534.0
33,Austria,2012,3.321,4.094020e+11,8.4,4.000,10.199,604.00,81.1,942.30,8426311.0
34,Austria,2013,3.326,4.301910e+11,9.0,3.956,10.286,566.74,81.3,937.80,8477230.0
35,Austria,2014,3.323,4.425850e+11,7.5,3.971,10.368,557.94,81.6,915.60,8543932.0
36,Austria,2015,3.263,3.819710e+11,12.0,3.942,10.368,548.88,81.3,961.20,8629519.0
37,Austria,2016,3.171,3.958370e+11,16.9,3.964,10.352,553.71,81.8,923.30,8739806.0
38,Austria,2017,3.126,4.172610e+11,18.7,3.990,10.384,537.32,81.7,946.50,8795073.0
39,Austria,2018,3.031,4.549910e+11,27.2,3.989,10.349,526.44,81.8,949.90,8837707.0

In [203]:
infrastructure_data[infrastructure_data['Country']=='Colombia'].head(40)

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
726,Colombia,2010,22.874,2.864990e+11,4.600000,7.071,7.071,NaN,74.3,440.60,44086292.0
727,Colombia,2011,21.538,3.349660e+11,6.400000,6.781,6.781,NaN,74.5,425.20,44553416.0
728,Colombia,2012,23.041,3.706910e+11,12.900000,6.746,6.746,NaN,74.7,428.70,45001571.0
729,Colombia,2013,23.756,3.820940e+11,10.900000,7.017,7.017,NaN,75.0,430.90,45434942.0
730,Colombia,2014,24.130,3.812410e+11,17.800000,7.186,7.186,NaN,75.2,440.70,45866010.0
731,Colombia,2015,21.399,2.934920e+11,21.400000,7.523,7.523,NaN,75.4,455.20,46313898.0
732,Colombia,2016,21.535,2.827200e+11,21.300000,7.531,7.531,NaN,75.7,457.60,46830116.0
733,Colombia,2017,21.314,3.118670e+11,45.600000,7.679,7.679,NaN,75.9,461.70,47419200.0
734,Colombia,2018,21.114,3.341980e+11,25.700000,7.625,7.625,NaN,76.5,475.30,48258494.0
735,Colombia,2019,21.112,3.230320e+11,26.100000,7.780,7.780,NaN,76.6,484.90,49395678.0
736,Colombia,2020,21.408,2.701510e+11,28.500000,8.714,8.714,NaN,76.7,590.80,50407647.0
808,Colombia,2005,21.408,1.456010e+11,19.233333,6.067,6.067,NaN,73.0,440.20,41671878.0
809,Colombia,2022,21.408,3.439390e+11,9.966667,8.068,8.068,NaN,76.9,441.35,51682692.0
810,Colombia,2008,21.408,2.425040e+11,0.700000,6.842,6.842,NaN,73.8,442.50,43134017.0
811,Colombia,2009,21.408,2.324690e+11,1.000000,7.311,7.311,NaN,74.0,437.30,43608630.0
812,Colombia,2004,21.408,1.170920e+11,4.028571,5.799,5.799,NaN,72.6,445.50,41188093.0
813,Colombia,2001,21.408,9.820064e+10,7.057143,5.942,5.942,NaN,71.4,468.80,39674811.0
814,Colombia,2007,21.408,2.062300e+11,10.085714,6.491,6.491,NaN,73.5,436.30,42658630.0
815,Colombia,2003,21.408,9.464497e+10,13.114286,5.775,5.775,NaN,72.2,453.50,40693254.0
816,Colombia,2000,21.408,9.987507e+10,16.142857,5.635,5.635,NaN,71.0,464.70,39140080.0
817,Colombia,2006,21.408,1.617930e+11,19.171429,6.336,6.336,NaN,73.3,444.10,42170126.0
818,Colombia,2021,21.408,3.185120e+11,22.200000,9.018,9.018,NaN,76.8,454.35,51117378.0
819,Colombia,2002,21.408,9.794581e+10,22.200000,5.733,5.733,NaN,71.8,464.60,40190679.0

In [204]:
rand_list = np.random.uniform(277.94,102.21,22)

In [205]:
rand_list

array([269.28808088, 148.11400297, 234.81420231, 171.88663429,
       233.76685642, 179.96622875, 209.34387811, 240.99536899,
       236.62809675, 188.8636601 , 175.05000563, 263.61805234,
       267.91233138, 167.99225136, 201.08068843, 220.86736307,
       182.68737516, 189.32163667, 218.8280301 , 231.88679495,
       148.20578592, 164.58525404])

In [206]:
def fill_null_with_random(df):
    for column in df.columns:
        if df[column].isnull().sum() > 0:  # Check for columns with null values
            random_values = np.random.uniform(277.94,102.21, size=df[column].isnull().sum())  # Generate random values
            df[column] = df[column].fillna(pd.Series(random_values, index=df[column][df[column].isnull()].index))  # Fill null values with random values

fill_null_with_random(infrastructure_data)

In [207]:
infrastructure_data[infrastructure_data['Country']=='Colombia'].head(40)

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
726,Colombia,2010,22.874,2.864990e+11,4.600000,7.071,7.071,148.942500,74.3,440.60,44086292.0
727,Colombia,2011,21.538,3.349660e+11,6.400000,6.781,6.781,120.355125,74.5,425.20,44553416.0
728,Colombia,2012,23.041,3.706910e+11,12.900000,6.746,6.746,152.616961,74.7,428.70,45001571.0
729,Colombia,2013,23.756,3.820940e+11,10.900000,7.017,7.017,125.236079,75.0,430.90,45434942.0
730,Colombia,2014,24.130,3.812410e+11,17.800000,7.186,7.186,249.161175,75.2,440.70,45866010.0
731,Colombia,2015,21.399,2.934920e+11,21.400000,7.523,7.523,106.356991,75.4,455.20,46313898.0
732,Colombia,2016,21.535,2.827200e+11,21.300000,7.531,7.531,170.067401,75.7,457.60,46830116.0
733,Colombia,2017,21.314,3.118670e+11,45.600000,7.679,7.679,264.561124,75.9,461.70,47419200.0
734,Colombia,2018,21.114,3.341980e+11,25.700000,7.625,7.625,270.421030,76.5,475.30,48258494.0
735,Colombia,2019,21.112,3.230320e+11,26.100000,7.780,7.780,144.139313,76.6,484.90,49395678.0
736,Colombia,2020,21.408,2.701510e+11,28.500000,8.714,8.714,261.188725,76.7,590.80,50407647.0
808,Colombia,2005,21.408,1.456010e+11,19.233333,6.067,6.067,192.897332,73.0,440.20,41671878.0
809,Colombia,2022,21.408,3.439390e+11,9.966667,8.068,8.068,208.920679,76.9,441.35,51682692.0
810,Colombia,2008,21.408,2.425040e+11,0.700000,6.842,6.842,170.940224,73.8,442.50,43134017.0
811,Colombia,2009,21.408,2.324690e+11,1.000000,7.311,7.311,130.947238,74.0,437.30,43608630.0
812,Colombia,2004,21.408,1.170920e+11,4.028571,5.799,5.799,231.843538,72.6,445.50,41188093.0
813,Colombia,2001,21.408,9.820064e+10,7.057143,5.942,5.942,268.492839,71.4,468.80,39674811.0
814,Colombia,2007,21.408,2.062300e+11,10.085714,6.491,6.491,189.601096,73.5,436.30,42658630.0
815,Colombia,2003,21.408,9.464497e+10,13.114286,5.775,5.775,253.431319,72.2,453.50,40693254.0
816,Colombia,2000,21.408,9.987507e+10,16.142857,5.635,5.635,185.243916,71.0,464.70,39140080.0
817,Colombia,2006,21.408,1.617930e+11,19.171429,6.336,6.336,163.221093,73.3,444.10,42170126.0
818,Colombia,2021,21.408,3.185120e+11,22.200000,9.018,9.018,193.156091,76.8,454.35,51117378.0
819,Colombia,2002,21.408,9.794581e+10,22.200000,5.733,5.733,153.146787,71.8,464.60,40190679.0

In [208]:
infrastructure_data

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
0,Australia,2000,6.648,4.158450e+11,35.6,2.987,7.594,138.30,79.2,676.8,19028802.0
1,Australia,2001,6.656,3.793580e+11,53.3,3.024,7.678,141.76,79.6,667.5,19274701.0
2,Australia,2002,6.586,3.955730e+11,32.2,3.123,7.876,142.60,79.9,682.5,19495210.0
3,Australia,2003,6.521,4.674980e+11,29.3,3.157,7.881,143.47,80.2,668.3,19720737.0
4,Australia,2004,6.477,6.143260e+11,46.4,3.250,8.087,144.10,80.5,663.8,19932722.0
...,...,...,...,...,...,...,...,...,...,...,...
892,United Kingdom,2003,2.960,2.056700e+12,3.0,5.036,7.988,498.50,78.3,1026.4,59636662.0
893,United Kingdom,2011,2.960,2.666400e+12,5.5,5.036,9.724,333.00,80.7,872.6,63285145.0
894,United Kingdom,2006,2.960,2.709980e+12,4.5,5.036,8.475,434.50,79.3,940.7,60827067.0
895,United Kingdom,2001,2.960,1.648770e+12,1.9,5.036,7.413,546.20,78.0,1022.4,59113016.0
896,United States,2022,1.847,2.546270e+13,5.1,5.678,16.634,748.30,76.4,1020.7,333287557.0

In [209]:
infrastructure_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   897 non-null    object
 1   Year                      897 non-null    int64
 2   Hospital_density          897 non-null    float64
 3   gdp                       897 non-null    float64
 4   Communicable_disease      897 non-null    float64
 5   Hospital_Expenditure      897 non-null    float64
 6   Total_Health_Expenditure  897 non-null    float64
 7   Injury Count              897 non-null    float64
 8   life_expectancy           897 non-null    float64
 9   Mortality                 897 non-null    float64
 10  Population                897 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 77.2+ KB

In [210]:
infrastructure_data = infrastructure_data.applymap(lambda x: round(x, 3) if isinstance(x, (int, float)) else x)

In [211]:
infrastructure_data

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
0,Australia,2000,6.648,4.158450e+11,35.6,2.987,7.594,138.30,79.2,676.8,19028802.0
1,Australia,2001,6.656,3.793580e+11,53.3,3.024,7.678,141.76,79.6,667.5,19274701.0
2,Australia,2002,6.586,3.955730e+11,32.2,3.123,7.876,142.60,79.9,682.5,19495210.0
3,Australia,2003,6.521,4.674980e+11,29.3,3.157,7.881,143.47,80.2,668.3,19720737.0
4,Australia,2004,6.477,6.143260e+11,46.4,3.250,8.087,144.10,80.5,663.8,19932722.0
...,...,...,...,...,...,...,...,...,...,...,...
892,United Kingdom,2003,2.960,2.056700e+12,3.0,5.036,7.988,498.50,78.3,1026.4,59636662.0
893,United Kingdom,2011,2.960,2.666400e+12,5.5,5.036,9.724,333.00,80.7,872.6,63285145.0
894,United Kingdom,2006,2.960,2.709980e+12,4.5,5.036,8.475,434.50,79.3,940.7,60827067.0
895,United Kingdom,2001,2.960,1.648770e+12,1.9,5.036,7.413,546.20,78.0,1022.4,59113016.0
896,United States,2022,1.847,2.546270e+13,5.1,5.678,16.634,748.30,76.4,1020.7,333287557.0

In [212]:
infrastructure_data.to_csv('health_infrastructure.csv', index=False)

In [213]:
infrastructure_data[infrastructure_data['Country']=='Colombia'].head(40)

,Country,Year,Hospital_density,gdp,Communicable_disease,Hospital_Expenditure,Total_Health_Expenditure,Injury Count,life_expectancy,Mortality,Population
726,Colombia,2010,22.874,2.864990e+11,4.600,7.071,7.071,148.942,74.3,440.60,44086292.0
727,Colombia,2011,21.538,3.349660e+11,6.400,6.781,6.781,120.355,74.5,425.20,44553416.0
728,Colombia,2012,23.041,3.706910e+11,12.900,6.746,6.746,152.617,74.7,428.70,45001571.0
729,Colombia,2013,23.756,3.820940e+11,10.900,7.017,7.017,125.236,75.0,430.90,45434942.0
730,Colombia,2014,24.130,3.812410e+11,17.800,7.186,7.186,249.161,75.2,440.70,45866010.0
731,Colombia,2015,21.399,2.934920e+11,21.400,7.523,7.523,106.357,75.4,455.20,46313898.0
732,Colombia,2016,21.535,2.827200e+11,21.300,7.531,7.531,170.067,75.7,457.60,46830116.0
733,Colombia,2017,21.314,3.118670e+11,45.600,7.679,7.679,264.561,75.9,461.70,47419200.0
734,Colombia,2018,21.114,3.341980e+11,25.700,7.625,7.625,270.421,76.5,475.30,48258494.0
735,Colombia,2019,21.112,3.230320e+11,26.100,7.780,7.780,144.139,76.6,484.90,49395678.0
736,Colombia,2020,21.408,2.701510e+11,28.500,8.714,8.714,261.189,76.7,590.80,50407647.0
808,Colombia,2005,21.408,1.456010e+11,19.233,6.067,6.067,192.897,73.0,440.20,41671878.0
809,Colombia,2022,21.408,3.439390e+11,9.967,8.068,8.068,208.921,76.9,441.35,51682692.0
810,Colombia,2008,21.408,2.425040e+11,0.700,6.842,6.842,170.940,73.8,442.50,43134017.0
811,Colombia,2009,21.408,2.324690e+11,1.000,7.311,7.311,130.947,74.0,437.30,43608630.0
812,Colombia,2004,21.408,1.170920e+11,4.029,5.799,5.799,231.844,72.6,445.50,41188093.0
813,Colombia,2001,21.408,9.820064e+10,7.057,5.942,5.942,268.493,71.4,468.80,39674811.0
814,Colombia,2007,21.408,2.062300e+11,10.086,6.491,6.491,189.601,73.5,436.30,42658630.0
815,Colombia,2003,21.408,9.464497e+10,13.114,5.775,5.775,253.431,72.2,453.50,40693254.0
816,Colombia,2000,21.408,9.987507e+10,16.143,5.635,5.635,185.244,71.0,464.70,39140080.0
817,Colombia,2006,21.408,1.617930e+11,19.171,6.336,6.336,163.221,73.3,444.10,42170126.0
818,Colombia,2021,21.408,3.185120e+11,22.200,9.018,9.018,193.156,76.8,454.35,51117378.0
819,Colombia,2002,21.408,9.794581e+10,22.200,5.733,5.733,153.147,71.8,464.60,40190679.0

In [214]:
infrastructure_data.to_csv('dataset.csv', index=False)